labs/xml_dtd/dtd_ex3.dtd

<!ELEMENT context (s)+>
<!ATTLIST context 
    filename CDATA #REQUIRED
    source CDATA #REQUIRED>

<!ELEMENT s (punc|token)+>
<!ATTLIST s snum CDATA #REQUIRED>

<!ELEMENT punc (#PCDATA)>

<!ELEMENT token (wf)>
<!ATTLIST token id ID #REQUIRED
	        pos CDATA #REQUIRED
	        lemma CDATA #IMPLIED>

<!ELEMENT wf (#PCDATA)>