labs/xml_dtd/s3aw.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT context (s)+>
<!ATTLIST context filename CDATA #REQUIRED
	          source CDATA #REQUIRED>

<!ELEMENT s (punc|token)+>
<!ATTLIST s snum CDATA #REQUIRED>

<!ELEMENT punc (#PCDATA)>

<!ELEMENT token (wf|lexsn)+>
<!ATTLIST token id ID #REQUIRED
	        pos CDATA #REQUIRED
	        lemma CDATA #IMPLIED
	        interp CDATA #IMPLIED>

<!ELEMENT wf (#PCDATA)>
<!ELEMENT lexsn (#PCDATA)>

